spring.data.mongodb.uri=mongodb+srv://user:password@cluster/dbname

jwt.secret=your_256_bit_secret_here
jwt.expiration=3600000

server.port=8443

server.ssl.enabled=true
server.ssl.key-store=classpath:keystore.p12
server.ssl.key-store-password=your_keystore_password
server.ssl.key-store-type=PKCS12
server.ssl.key-alias=letsplay